extends layout

block content
    <div class="caros">
      <div id="carouselId" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
          <li data-target="#carouselId" data-slide-to="0" class="active"></li>
          <li data-target="#carouselId" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
              <img src="images/img1.jpg" alt="First slide">
                
              <div class="caros-title">
                <h1 class="heading hover-underline-animation">  
                    New Collections Available
                      </h1>
                       <button class="btn btn-primary">Shop Now</button>
                    </div>

                      </div>
                       <div class="carousel-item overlay">  
                          <img  src="images/img2.jpg" alt="Second slide">
              <div class="caros-title">
                <h1 class="heading hover-underline-animation">  
                    Available On All Our Outlets!
                </h1>
                  <button class="btn btn-primary">Shop Now</button>
              </div>
          </div>
      </div>
      <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
      </div>
      </div>
    




    <div class="categories-1">

        <div>
            <img src="/images/benner-06.webp" alt="Bag">
        </div>

        <div class="img-style">
            <img src="/images/benner-07.webp" alt="Bag">
            <img src="/images/benner-08.webp" alt="Bag">
        </div>

        <div>
            <img src="/images/benner-09.webp" alt="Bag">
        </div>
    </div>
        <div class="center">
            <h1 class="heading-1 hover-underline-animation">Categories
             </h1>
              </div>
              <hr>
              <div class="container">
            <div class="categories">

        <div>
            <img src="/images/bag.webp" alt="Bag">
            <h3 class="heading-3">Hand Bags</h3>
        </div>

        <div>
            <img src="/images/shirt.webp" alt="Bag">
            <h3 class="heading-3">Men Wear</h3>
        </div>

        <div>
            <img src="/images/shoes.webp" alt="Bag">
            <h3 class="heading-3">Shoes</h3>
        </div>
    </div>
    </div>
      <div class="center">
        <h1 class="heading-1 hover-underline-animation">Products
      </h1>
      </div>
      <hr>


    <footer class="bg-dark text-center text-white">
   
     <div class="container p-4">
     
      <section class="mb-4">
       
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fa fa-facebook-f"></i>
        </a>
  

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fa fa-twitter"></i>
        </a>
  
       
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
         <i class="fa fa-google"></i>
         </a>
  
       
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="fa fa-instagram"></i></a>
  
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" ><i class="fa fa-linkedin"></i></a>
  
   
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-github"></i></a>
      </section>
  
      <section class="">
        <form action="">
        
          <div class="row d-flex justify-content-center">
     
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
     
  
     
            <div class="col-md-5 col-12">
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example21" class="form-control" />
                <label class="form-label" for="form5Example21">Email address</label>
              </div>
            </div>
  
  
            <div class="col-auto">
  
              <button type="submit" class="btn btn-outline-light mb-4">Subscribe
              </button>
            </div>
            </div>
  
        </form>
      </section>
  
  
  
      <section class="mb-4">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
          repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
          eum harum corrupti dicta, aliquam sequi voluptate quas.
        </p>
      </section>
  
      <section class="">
  
        <div class="row">
  
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div>
  
        </div>
  
      </section>
  
    </div>
  
  
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
       p © 2020 Copyright:
           <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
        </footer>

