extends ../layout

block content 
    .row
        .col-sm-8 
            h1=title
        .col.sm-4
            a(href="products/add",class = "btn btn-success float-right") Add Product
        div.products             
                 each product in products
                   
                       h4= product.name       
                             
                       p= "Rs." +product.price
                       .buttons
                             a(href="products/delete/"+product._id )
                                 i(class="fa-solid fa-trash-can")
                             a(href="products/edit/"+product._id ) 
                                 i(class="fa-solid fa-pen-circle")
                             a(href="products/cart/"+product._id)
                                 <i class="fa-solid fa-cart-arrow-down"></i>